# =========================
# macOS
# =========================
.DS_Store

# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Virtual environments
venv/
.env/
.venv/

# Django static/media
staticfiles/
media/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# =========================
# Node / Next.js
# =========================
node_modules/

.pnp
.pnp.*

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

.next/
out/
dist/
build/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

*.tsbuildinfo
next-env.d.ts

# =========================
# Environment variables
# =========================
.env
.env.local
.env.*.local
.env*

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Docker
# =========================
postgres_data/

# =========================
# Misc
# =========================
coverage/
tmp/
cookies.txt
*.pem
.vercel/
